<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jsc.gwp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mealDiary.EditActivityMealDiary"></activity>
        <activity android:name=".mealDiary.SetActivityMealDiary" />
        <activity android:name=".tips.TipsActivity" />
        <activity android:name=".SetActivityAlarm" />
        <activity android:name=".MainActivity" />
        <activity android:name=".initSetting.SetActivityCanSleepTime" />
        <activity android:name=".initSetting.SetActivityActionTimeInAWeek" />
        <activity android:name=".initSetting.SetActivityDesireWeight" />
        <activity android:name=".initSetting.SetActivityCurrentWeight" />
        <activity android:name=".initSetting.SetActivityHeight" />
        <activity android:name=".initSetting.SetActivityBirth" />
        <activity android:name=".initSetting.SetActivityGender" />

        <receiver android:name=".receiver.TipAlarmReceiver" />
        <receiver android:name=".receiver.NeedWaterAlarmReceiver" />

        <activity android:name=".InitActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>